@model List<ResultTestimonialDto>

<div class="testimonial-area fix pt-180 pb-180 section-bg" data-background="/onlineedu-master/assets/img/gallery/section_bg03.png">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-9 col-md-9">
                <div class="h1-testimonial-active">
                    <!-- Single Testimonial -->
                    @foreach (var item in Model)
                    {
                        <div class="single-testimonial pt-65">
                            <!-- Testimonial tittle -->
                            <div class="testimonial-icon mb-45">
                                <img src="@item.ImageUrl" class="ani-btn " alt="">
                            </div>
                            <!-- Testimonial Content -->
                            <div class="testimonial-caption text-center">
                                <p>
                                    @item.Comment
                                </p>
                                <!-- Rattion -->
                                <div class="testimonial-ratting">

                                    @for (int i = 0; i < item.Star; i++)
                                    {
                                        <span class="star selected" data-value="@(i + 1)">&#9733;</span>
                                    }
                                    @for (int i = item.Star; i < 5; i++)
                                    {
                                        <span class="star" data-value="@(i + 1)">&#9733;</span>
                                    }

@*                                     <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i> *@
                                </div>
                                <div class="rattiong-caption">
                                    <span>@item.Name<span> - @item.Title</span> </span>
                                </div>
                            </div>
                        </div>
                    }
                    
                    <!-- Single Testimonial -->
                    @* <div class="single-testimonial pt-65">
                        <!-- Testimonial tittle -->
                        <div class="testimonial-icon mb-45">
                            <img src="~/onlineedu-master/assets/img/gallery/testimonial.png" class="ani-btn " alt="">
                        </div>
                        <!-- Testimonial Content -->
                        <div class="testimonial-caption text-center">
                            <p>
                                You can’t succeed if you just do what others do and
                                follow the well-worn path. You need to create a new and
                                original path for yourself.
                            </p>
                            <!-- Rattion -->
                            <div class="testimonial-ratting">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="rattiong-caption">
                                <span>Clifford Frazier<span> - Colorlib Themes</span> </span>
                            </div>
                        </div>
                    </div> *@
                </div>
            </div>
        </div>
    </div>
</div>
