@model List<ResultCourseCategoryDto>
@{
    ViewData["Title"] = "Kurs Kategorileri Sayfasi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{
    int count = 0;
}
<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>Kurs Kategori Adi</th>
        <th>Kurs Kategori Icon</th>
        <th>Aciklama</th>
        <th>Aktivlik</th>
        <th>islemler</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <th>@count</th>
            <td>@item.Name</td>
            <td><span class="@item.Icon" style="color:rgb(45, 48, 146);font-size:32px;"></span></td>
            <td>@item.Description</td>
            <td>@(item.IsShown ? "Görünür" : "Gizli")</td>
            <td>
                <button onclick="DeleteRecord('/Admin/CourseCategory/DeleteCourseCategory/@item.Id')" class="btn btn-outline-danger">Sil</button>

                <a asp-action="UpdateCourseCategory" asp-controller="CourseCategory" asp-area="Admin" asp-route-id="@item.Id" class="btn btn-outline-info">Güncelle</a>

                <a asp-action="SetCourseCategoryDisplayStatus" asp-controller="CourseCategory" asp-area="Admin" asp-route-id="@item.Id" class="btn btn-outline-@(item.IsShown ? "warning" : "success")">@(item.IsShown ? "Gizle" : "Göster")</a>

            </td>
        </tr>
    }
</table>
<br />
<a asp-action="CreateCourseCategory" asp-controller="CourseCategory" asp-area="Admin" class="btn btn-outline-primary">Yeni Kurs Kategorisi Ekle</a>
